body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/background-cad.png') no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
 }
 
 .wrapper {
    background: rgba(0, 0, 0, 0.397);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 400px;
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
 }
 
 .title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #3B1D0F;
 }
 
 .slide-controls {
    margin-bottom: 20px;
 }
 
 .slide-controls label {
    background: #3B1D0F;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
 }
 
 .field {
    margin-top: 15px;
    text-align: center;
 }
 
 .field input {
    width: 85%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
 }
 
 .field input::placeholder {
    color: rgba(255, 255, 255, 0.7);
 }
 
 .buttons_normais {
    background: #3B1D0F;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 20px;
    width: 100%;
 }
 
 .buttons_normais:hover {
    background: #5a2e1b;
 }
 