body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.cabecalho {
    background-color: #C6BEBB;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-links a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.cabecalho-acoes {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho-acoes a {
    text-decoration: none;
    color: #5c2d14;
    font-weight: bold;
}


.cabecalho-botao {
    background-color: #5c2d14;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 50px; /* Agora o botão é mais circular */
    cursor: pointer;
}

#mapa {
    height: 500px;
    width: 100%;
}

.logo-imenu {
    cursor: pointer;
    height: 40px;
}
